### Python Playground

In [73]:
1+1

2

In [74]:
print("Hello Workd")

Hello Workd

In [75]:
## Basic Syntax Rules In Python
## Case sensitivity- Python is case sensitive

name="Ibraheem"
Name="Mir"

print(name)
print(Name)

Ibraheem
Mir

In [76]:
age=22
if age>20:
    
    print(age)
    
print(age)

22
22

In [77]:
## Line Continuation
##Use a backslash (\) to continue a statement to the next line

total=1+2+3+4+5+6+7+\
4+5+6+8

print(total)

51

In [78]:
## Multiple Statements on a single line
x=5;y=10;z=x+y
print(z)

15

In [79]:
## Understand  Semnatics In Python
# variable assignment
age=22 ##age is an integer
name="Ibraheem" ##name is a string

In [80]:
type(age)

int

In [81]:
type(name)

str

In [82]:
## Type Inference
variable=10
print(type(variable))
variable="Ibraheem"
print(type(variable))

<class 'int'>
<class 'str'>

In [83]:
age=22
if age>20:
    print(age)

22

In [84]:
## Code exmaples of indentation
if True:
    print("Good Indentation")
    if False:
        print("This ont print")
    print("This will print")
print("Outside the if block")

Good Indentation
This will print
Outside the if block

In [85]:
a=100

In [86]:
## Declaring And Assigning Variables

age=22
height=5.8
name="Ibraheem"
is_student=True

## printing the variables

print("age :",age)
print("Height:",height)
print("Name:",name)

age : 22
Height: 5.8
Name: Ibraheem

In [87]:
## Naming Conventions
## Variable names should be descriptive
## They must start with a letter or an '_' and contains letter,numbers and underscores
## variables names case sensitive

#valid variable names

first_name="Ibraheem"
last_name="Mir"

In [88]:
## case sensitivity
name="Ibraheeeem"
Name="Mir"

In [89]:
## Understnading Variable types
## Python is dynamically typed,type of a variable is determined at runtime
age=22 #int
height=5.8 #float
name="Ibraheem" #str
is_student=True #bool

print(type(name))

<class 'str'>

In [90]:
type(height)

float

In [91]:
age=22
print(type(age))

# Type conversion
age_str=str(age)
print(age_str)
print(type(age_str))

<class 'int'>
22
<class 'str'>

In [92]:
age='22'
print(type(int(age)))

<class 'int'>

In [93]:
height=5.18
type(height)

float

In [94]:
float(int(height))

5.0

In [95]:
## Dynamic Typing
var=10 #int
print(var,type(var))

var="Hello"
print(var,type(var))

var=3.14
print(var,type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [96]:
### Simple calculator

num1 = float(input("What is the first number: "))
num2 = float(input("What is the second number: "))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum:", sum)
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)

ValueError: could not convert string to float: ''

In [ ]:
## Integer Example
age=35
type(age)

In [ ]:
##floating point datatype
height=5.8
print(height)
print(type(height))

In [ ]:
## string datatype example
name="Ibraheem"
print(name)
print(type(name))

In [ ]:
## boolean datatype
is_true=True
type(is_true)

In [ ]:
a=10
b=10

type(a==b)

In [ ]:
result="Hello" + str(5)
print(result)

In [ ]:
## Arithmethic Operation

a=10
b = 5

add_result=a+b  #addiiton
sub_result=a-b  #substraction 
mult_result=a*b #multiplication
div_result=a/b  #division
floor_div_result=a//b ## floor division
modulus_result=a%b #modulus operation

exponent_result=a**b ## Exponentiation


print(add_result)
print(sub_result)
print(mult_result)
print(div_result)
print(floor_div_result)
print(modulus_result)
print(exponent_result)

In [ ]:
10/5

In [ ]:
21/5

In [ ]:
21//5

In [ ]:
## Comparison Operators
## == Equal to
a=10
b=10

a==b

In [ ]:
str1="Ibby"
str2="Ibby"

str1==str2

In [ ]:
## Not Equal to !=
str1!=str2

In [ ]:
str3="Ibby"
str4="Ibby"

str3!=str4

In [ ]:
# greater than >

num1=45
num2=55

num1>num2

In [ ]:
## less than <

print(num1<num2)

In [ ]:
## And ,Not,OR
X=True
Y=True

result =X and Y
print(result)

In [ ]:
X=False
Y=True

result =X and Y
print(result)

In [ ]:
## OR
X=False
Y=False

result =X or Y
print(result)

In [ ]:
# Not operator
X=False
not X

In [ ]:
## Simple Calculator

# Simple calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

# Performing arithmetic operations
addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2
floor_division = num1 // num2
modulus = num1 % num2
exponentiation = num1 ** num2

# Displaying results
print("Addition:", addition)
print("Subtraction:", subtraction)
print("Multiplication:", multiplication)
print("Division:", division)
print("Floor Division:", floor_division)
print("Modulus:", modulus)
print("Exponentiation:", exponentiation)

In [ ]:
%pip install numpy

Requirement already satisfied: numpy in /Users/ibraheemmir/venv/lib/python3.12/site-packages (2.3.2)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import numpy as np

## create array using numpy
##create a 1D array
arr1=np.array([1,2,3,4,5])
print(arr1)
print(type(arr1))
print(arr1.shape)

[1 2 3 4 5]
<class 'numpy.ndarray'>
(5,)

In [ ]:
## 1 d array
arr2=np.array([1,2,3,4,5])
arr2.reshape(1,5)  ##1 row and 5 columns

In [ ]:
arr2=np.array([[1,2,3,4,5]])
arr2.shape

In [ ]:
## 2d array
arr2=np.array([[1,2,3,4,5],[2,3,4,5,6]])
print(arr2)
print(arr2.shape)

In [ ]:
np.arange(0,10,2).reshape(5,1)

In [ ]:
np.ones((3,4))

In [ ]:
## identity matrix
np.eye(3)

In [ ]:
## Attributes of Numpy Array
arr = np.array([[1, 2, 3], [4, 5, 6]])

print("Array:\n", arr)
print("Shape:", arr.shape)  # Output: (2, 3)
print("Number of dimensions:", arr.ndim)  # Output: 2
print("Size (number of elements):", arr.size)  # Output: 6
print("Data type:", arr.dtype)  
print("Item size (in bytes):", arr.itemsize)

Array:
 [[1 2 3]
 [4 5 6]]
Shape: (2, 3)
Number of dimensions: 2
Size (number of elements): 6
Data type: int64
Item size (in bytes): 8

In [ ]:
### Numpy Vectorized Operation
arr1=np.array([1,2,3,4,5])
arr2=np.array([10,20,30,40,50])

### Element Wise addition
print("Addition:", arr1+arr2)

## Element Wise Substraction
print("Substraction:", arr1-arr2)

# Element-wise multiplication
print("Multiplication:", arr1 * arr2)

# Element-wise division
print("Division:", arr1 / arr2)

In [ ]:
## Universal Function
arr=np.array([2,3,4,5,6])
## square root
print(np.sqrt(arr))

## Exponential
print(np.exp(arr))

## Sine
print(np.sin(arr))

## natural log
print(np.log(arr))

In [ ]:
## array slicing and Indexing

arr=np.array([[1,2,3,4],[5,6,7,8],[9,10,11,12]])
print("Array : \n", arr)

In [ ]:
print(arr[1:,1:3])

In [ ]:
print(arr[0][0])
print(arr[0:2,2:])

In [ ]:
arr[1:,2:]

In [ ]:
## Modify array elements
arr[0,0]=100
print(arr)

In [ ]:
arr[1:]=100
print(arr)

In [ ]:
### statistical concepts--Normalization
##to have a mean of 0 and standard deviation of 1
data = np.array([1, 2, 3, 4, 5])

# Calculate the mean and standard deviation
mean = np.mean(data)
std_dev = np.std(data)

# Normalize the data
normalized_data = (data - mean) / std_dev
print("Normalized data:", normalized_data)

In [ ]:
data = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

# Mean
mean = np.mean(data)
print("Mean:", mean)

# Median
median = np.median(data)
print("Median:", median)

# Standard deviation
std_dev = np.std(data)
print("Standard Deviation:", std_dev)

# Variance
variance = np.var(data)
print("Variance:", variance)

In [ ]:
## Logical operation
data=np.array([1,2,3,4,5,6,7,8,9,10])

data[(data>=5) & (data<=8)]

In [ ]:
## Series
##A Pandas Series is a one-dimensional array-like object that can hold any data type. It is similar to a column in a table.

import pandas as pd
data=[1,2,3,4,5]
series=pd.Series(data)
print("Series \n",series)
print(type(series))

In [ ]:
## Create a Series from dictionary
data={'a':1,'b':2,'c':3}
series_dict=pd.Series(data)
print(series_dict)

In [ ]:
data=[10,20,30]
index=['a','b','c']
pd.Series(data,index=index)

In [ ]:
## Dataframe
## create a Dataframe from a dictionary oof list

data={
    'Name':['Ibraheem','Tim','JOhn'],
    'Age':[25,30,45],
    'City':['Chicago','New York City','Atlanta']
}
df=pd.DataFrame(data)
print(df)
print(type(df))

In [ ]:
## Create a Data frame From a List of Dictionaries

data=[
    {'Name':'Ibraheem','Age':32,'City':'NYC'},
    {'Name':'Tim','Age':34,'City':'Chicago'},
    {'Name':'John','Age':32,'City':'Atlanta'},
    {'Name':'JAck','Age':32,'City':'Buckhead'}
    
]
df=pd.DataFrame(data)
print(df)
print(type(df))

In [ ]:
#less than or equal to
number1=44
number2=45

print(number1<=number2)

In [ ]:
#greater than or equal to
number1=45
number2=45

print(number1>=number2)

In [ ]:
temperature = 35  # name the variable first

if temperature > 30:
    print("It's hot outside!")
else:
    print("Weather is normal.")

It's hot outside!

In [ ]:
## LIST
fruits = ["apple", "banana", "cherry"]
print(fruits[1])  # banana

banana

In [ ]:
## TUPLES 
coordinates = (10, 20)

In [ ]:
## DICTIONARIES 
user = {"name": "Ibraheem", "age": 22}

In [ ]:
## SETS
colors = {"red", "blue", "green"}

In [ ]:
def greet(name):
    return f"Hello, {name}!"

In [ ]:
square = lambda x: x * x ## LAMBDA FUNCTIONS

In [ ]:
## how to use try and the except function
try:
    result = 10 / 0
except ZeroDivisionError:
    print("Cannot divide by zero!")

Cannot divide by zero!

In [ ]:
## Classes
class Dog:
    def __init__(self, name):
        self.name = name

    def bark(self):
        print(f"{self.name} says woof!")